{#
/**
 * @file
 * Default theme implementation for the hpt label field.
 *
 * Modified from Olivero.
 *
 * If there's no field lable, the hpt label is rendered as h3.
 * Otherwise the hpt label renders in a div like usual.
 */
#}

{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
  label_display == 'inline' ? 'clearfix',
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% if label_hidden %}
  {% for item in items %}
    <h3{{ item.attributes.addClass('field__item') }}>{{ item.content }}</h3>
  {% endfor %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
{% endif %}

