{#
/**
 * @file
 * Default theme implementation to display an hpt entity.
 *
 * Note that the canonical route does not serve the full view mode
 * of the hpt. Instead the canonical route serves the file contents
 * directly, with a url that meets cms.gov conventions. It probably
 * doesn't make sense to configure the full view mode for hpt.
 *
 * Available variables:
 * - url: URL of the hpt. This will be a url to the file contents in a pattern
 *   that satisfies the cms.gov conventions. For example,
 *   <a href="{{ url }}" download>Download</a> would provide a link that forces a
 *   download of the file contents under the guise a filename that meets standards.
 * - content: Items for the content of the hpt.
 * - attributes: HTML attributes for the wrapper.
 * - hpt: The hpt entity.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ content }}
</div>
